body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
  }
  
  .calculator {
    background: #000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgb(255, 255, 255);
    width: 300px;
  }
  
  .display {
    margin-bottom: 20px;
  }
  
  #result {
    width: 100%;
    height: 50px;
    border: none;
    background: #ffffff;
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    padding: 20px;
    background: #dc6b1b;
    color: #000000;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: #000000;
  }
  
  .equal {
    background: #fcfcfc;
    grid-column: span 2;
  }
  
  .equal:hover {
    background: #000000;
  }
  
  .zero {
    grid-column: span 2;
  }
  